<div class="container">
  <div class="row my-5">
    <div class="col-10 my-3 mx-auto">
      <div class="row justify-content-center border-bottom">
        <div class="col-3 mb-3 text-center">
          <%= image_tag @end_user.get_profile_image, size: "100x100" %>
        </div>

        <div class="col-7 mb-3">
          <div class="row">
            <h3 class="col-7"><%= @end_user.name %></h3>
            <%= link_to "プロフィール編集", edit_end_user_path(@end_user), class: "col-5 btn btn-outline-secondary" %>
          </div>
          <div class="row">
            <p class="col-12"><%= @end_user.introduction %></p>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <% @posts.each do |post| %>
          <%= link_to post_image_path(post_image.id) do %>
            <%= image_tag post_image.get_image %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>