<div class="container">
  <div class="row my-5 mx-auto border">
    <h4 class="col-10 my-3 mx-auto text-secondary">新規投稿を作成</h4>
    <div class="col-10 mx-auto">
      <%= form_with model: @post, url: posts_path, method: :post do |f| %>
        <div class="row mt-3 justify-content-center">
          <%= f.file_field :post_image, accept: "image/*" %>
        </div>

        <div class="row mt-3 justify-content-center">
          <%= f.text_area :content, class: "form-control textarea col-7", rows: "5" %>
        </div>

        <div class="row mt-3 justify-content-center">
          <%= f.select :tag_id, options_from_collection_for_select(Tag.all, :id, :name) %>
          <%= f.select :station_name, [["宇部新川駅", "宇部新川駅"],["草江駅", "草江駅"],["新山口駅", "新山口駅"],["宇部駅", "宇部駅"],["居能駅", "居能駅"],["雀田駅", "雀田駅"]], { include_blank: true, selected: "駅を選択" }, { id: "station_name_id", class: "offset-1" } %>
        </div>

        <div class="row mt-3 justify-content-center">
          <p>位置情報を追加する</p>
        </div>

        <div class="row my-5 justify-content-center">
          <%= f.submit "シェア", class: "col-2 btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>