<div class="container">
  <div class="row mt-5 justify-content-center align-items-center border-bottom">
    <div class="col-2 mb-3 text-center">
      <%= image_tag @post.end_user.get_profile_image, size: '80x80', class: "img-fluid" %>
    </div>
    <div class="col-5 col-md-6 mb-3">
      <%= link_to end_user_path(@post.end_user), {class: "text-secondary"} do %>
      <%= @post.end_user.name %>
      <% end %>
    </div>

    <div class="col-3 col-md-2 mb-3 text-center">
      <% if @post.end_user == current_end_user %>
        <%= link_to "編集", edit_post_path(@post), class: "btn btn-outline-secondary" %>
      <% end %>
    </div>
  </div>

  <div class="row justify-content-center border-bottom">
    <div class="col-10 my-3 text-center">
      <%= image_tag @post.get_post_image, size: '600x600', class: "img-fluid" %>
    </div>
  </div>

  <div class="row mx-auto my-3 justify-content-center align-items-center border-bottom">
    <div class="col-auto px-0 <%= "favorite-" + @post.id.to_s %>" >
      <%= render "public/favorites/btn", post: @post %>
    </div>
    <div class="col-auto post-comments-counter">
      <%= render "public/post_comments/counter", post: @post %>
    </div>
    <%= link_to posts_path(tag_id: @post.tag_id), {class: "col-8 col-md-3 my-3 offset-md-1 text-center btn btn-outline-success"} do %>
      <%= @post.tag.name %>
    <% end %>
    <%= link_to searchstation_path(station_name: @post.station_name), {class: "col-8 col-md-3 ml-md-5 my-3 text-center btn btn-outline-warning"} do %>
      <%= @post.station_name %>
    <% end %>
    <div class="col-9 my-3 text-center">
      <%= @post.content %>
    </div>

    <div class="col-9 my-3 text-center">
      <% @post.vision_tags.each do |tag| %>
        <span class="label"><%= tag.name %></span>
      <% end %>
    </div>

    <div class="col-9 my-3 text-center" id='map' style="height: 400px;"></div>
    <script>
      let map

      const display = document.getElementById('display')

      // mapの表示関数
      function initMap() {
          geocoder = new google.maps.Geocoder()

          // mapの初期位置, 縮尺を定義
          map = new google.maps.Map(document.getElementById('map'), {
              center:{lat: <%= @post.latitude %>, lng: <%= @post.longitude %>},
              zoom: 13,
          });

          // postの情報をmap上に表示
              (function(){
              var contentString = "住所：<%= @post.address %>";

              // マーカーを立てる
              var marker = new google.maps.Marker({
                  position:{lat: <%= @post.latitude %>, lng: <%= @post.longitude %>},
                  map: map,
                  title: contentString
              });
              })();
      }
    </script>

    <script class="col-10 my-3 text-center"
        src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap"
        async defer>
    </script>
  </div>

  <%= render "public/post_comments/form", post: @post, post_comment: @post_comment %>
  <div class="post-comments-index">
    <%= render "public/post_comments/index", post: @post %>
  </div>
</div>