<table class="table table-borderless text-center">
  <tbody>
      <% post.post_comments.each do |post_comment| %>
      <tr>
        <td>
          <%= link_to end_user_path(post_comment.end_user), {class: "text-secondary"} do %>
            <%= image_tag post_comment.end_user.get_profile_image, size: "60x60" %>
            <%= post_comment.end_user.name %>
          <% end %>
        </td>
        <td><%= post_comment.comment %></td>
        <td>
          <% if post_comment.end_user == current_end_user %>
            <%= link_to "削除する", post_post_comment_path(post, post_comment), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger pull-right", remote: true %>
          <% end %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>