<div class="container">
  <div class="row my-5 mx-auto border">
    <h1 class="col-10 my-3 mx-auto text-center">OsanpoApp</h1>
    <p class="col-10 my-3 mx-auto text-muted text-center">
      登録して散歩した道で見つけたあたらしい世界をシェアしよう
    </p>

    <div class="col-8 mx-auto">
      <%= form_with model: @end_user, url: end_user_registration_path do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>

        <div class="field row mt-3 justify-content-center">
          <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "ユーザーネーム", class: "col-7" %>
        </div>

        <div class="field row mt-3 justify-content-center">
          <%= f.email_field :email, autocomplete: "email", placeholder: "メールアドレス", class: "col-7" %>
        </div>

        <div class="field row mt-3 justify-content-center">
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード(6文字以上)", class: "col-7" %>
        </div>

        <div class="field row mt-3 justify-content-center">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード確認", class: "col-7" %>
        </div>

        <div class="actions row my-5 justify-content-center">
          <%= f.submit "登録する", class: "col-7 btn btn-primary" %>
        </div>
      <% end %>

      <div class="row my-3 justify-content-center">
        <div class="col-10 mt-3 mx-auto text-muted text-center">
          アカウントをお持ちですか？
        </div>
        <div class="col-10 mb-5 mx-auto text-muted text-center">
          <%= link_to "ログインする", new_end_user_session_path %>
        </div>
      </div>
    </div>
  </div>
</div>