<% if end_user_signed_in? %>
  <div class="container pt-2">
    <div class="row m-auto justify-content-between">
      <div class="form-inline mx-auto my-3 m-md-3">
        <%= form_tag posts_path, method: :get, class: "row" do %>
        <div class="col-md-auto">
          <%= select_tag :tag_id, options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]), { prompt: 'タグで絞り込み検索', onchange: 'submit(this.form);', class: "form-control" } %>
        </div>
        <% end %>
      </div>

      <div class="form-inline mx-auto my-3 m-md-3">
        <%= form_with url: search_path, method: :get, local: true, class: "row justify-content-center" do |f| %>
          <div class="col-7 col-md-auto pr-md-0">
          <%= f.text_field :content, placeholder: "キーワードで検索", class: "form-control my-1" %>
          </div>
          <div class="col-7 col-md-auto pr-md-0">
          <%= f.select :model, options_for_select({ "ユーザー" => "end_user", "投稿" => "post" }), {}, {:class => "form-control my-1"}%>
          </div>
          <div class="col-7 col-md-auto  text-center">
          <%= f.submit '検索', class: "btn btn-outline-success my-1" %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>